[submodule "tum_ardrone"]
	path = tum_ardrone
	url = https://github.com/tum-vision/tum_ardrone.git
[submodule "ardrone_tutorials"]
	path = ardrone_tutorials
	url = https://github.com/mikehamer/ardrone_tutorials.git
[submodule "host_packages"]
	path = host_packages
	url = https://github.com/WASP2016/host_packages.git
